@font-face {
  font-family: "dogica";
  src: url("./assets/fonts/dogicapixel.ttf") format("truetype");
}

.container {
  background-color: #dda8b1; /* <-- change this */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-button {
  border: none;
  background: none;
  cursor: pointer;
}

.big-button img {
  width: 500px;
}

.second-screen {
  text-align: center;
}

.second-image {
  width: 500px;
  margin-bottom: 20px;
}

.small-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.small-btn {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.small-btn img {
  width: 100px;
  height: auto;
  display: block;
}

.yay-text {
  font-family: "dogica";
  font-size: 36px; /* slightly smaller */
  color: #7F5E44;
}